#shirt-container {
    pointer-events:none;
    position:absolute;
    left: 0px; top: 0px; right: 0px;
    bottom: 0px;
}

#shirt-image {
    pointer-events:none;
    max-width:100%;
    /* max-height: 100%; */
}